---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="關於我"
  description="一個不具名工程師的自白"
  pubDate={new Date("2024-04-27")}
  heroImage="/avatar.jpg"
>
  <p>
    我是一名美食愛好者，16型人格為INTP，正職工作是前端工程師，喜歡透過學習新知改善自我，也喜歡把這過程中的收穫與人分享。
  </p>
  <p>
    在這個部落格中，我會分享個人在前端開發中的一些經驗與淺見，還有web
    dev的一些新進展，用來記錄個人日常的收穫，也希望能幫助到身處或對開發有興趣的朋友。
  </p>
</Layout>
